.gallery {
   &__wrapper {
      @include flex;
      flex-wrap: wrap;
      gap: 20px;
   }

   &__photo {
      position: relative;
      flex: 30%;

      @include medium {
         flex: 40%;
      }

      @include small {
         flex: 50%;
      }

      img {
         display: block;
         width: 100%;
      }

      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: rgba($black, .25);
         @include transition;
      }

      &:hover {
         &::after {
            background-color: rgba($primary, .8);
         }
      }
   }

   &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      z-index: 1;
      text-align: center;

      > * { 
         color: $white; 
      }

      .gallery__title {
         font-size: 3.125rem;
         line-height: 3.6875rem;
         text-transform: uppercase;
         margin-bottom: 0.8125rem;

         @include xlarge {
            font-size: 2.5rem;
            line-height: 3rem;
         }

         @include small {
            font-size: 3rem; 
            line-height: 4rem;
         }

         @include xsmall {
            font-size: 1.75rem;
            line-height: 2.5rem;
         }
      }

      a {
         text-transform: uppercase;
         padding-bottom: 7px;
         border-bottom: 2px solid $white;
         display: inline-block;
         @include transition;

         span {
            display: inline-block;
            margin-right: 1.375rem;
         }

         i { font-size: 1rem; display: inline-block;}

         &:hover {
            @include transition;
            border-bottom-color: blue;
         }
      }
   }
}