.hero {
   position: relative;

   &__content {
      position: absolute;
      right: 13.18%;
      top: 36%;
      @include flex;
      flex-direction: column;
      align-items: flex-end;

      img {
         @include large {
            max-width: 400px;
         }

         @include small {
            max-width: 200px;
         }
      }

      a {
         text-transform: uppercase;
         letter-spacing: 0.07em;
         color: $white;
         margin-top: 1.5rem;
         @include flex;
         align-items: center;
         
         span { @include transition; }

         &::after {
            content: '';
            display: inline-block;
            margin-right: 3px;
            margin-left: 0.7662rem; //12.26px
            width: 0; 
            height: 0; 
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            
            border-left: 21px solid $primary;
         }

         &:hover {
            span {
               margin-right: 5px;
               @include transition;
            }
         }
      }
   }
}