.footer {
   background-color: $primary;
   margin-top: 3.125rem;
   padding: 2.1875rem 0 4.375rem;

   @include small {
      padding: 3rem 0;
   }

   &__content {
      @include flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%
   }

   &__nav {
      ul {
         @include flex;

         @include large {
            flex-direction: column;
            margin-top: 1rem;
         }
      }

      li:not(:last-child) a{
         padding-right: 3rem;

         @include large {
            padding-bottom: .5rem;
            padding-right: 0;
         }
      }

      a {
         text-transform: uppercase;
         display: inline-block;
         height: 100%;
      }
   }
   
   .form {      
      height: 100%;
      max-width: 67.515%;
      margin-left: auto;

      @include large {
         max-width: 100%;
      }

      @include small {
         margin-top: 2rem;
      }

      &__heading {
         padding-bottom: 0.75rem;
         text-transform: uppercase;
      }

      &-control {
         border: none;
         border-radius: 0;
      }

      &-check {
         margin-top: 0.8125rem;
         padding-left: 1.6875rem;
         @include flex;
         align-items: center;

         &-input {
            margin-left: -1.6875rem;
            margin-top: 0;
            height: 15px;
            width: 15px;
            background-color: $white;

            &:checked {
               background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") ;
               background-color: $white;
            }
         }

         &-label {
            font-size: 0.75rem;
            line-height: 0.875rem;
            letter-spacing: 0.07em;
         }
      }

      &__btn {
         text-transform: uppercase;
         margin-top: 0.5625rem;
      }

      .invalid {
         color: red;
         display: none;
      }

      .valid {
         color: green;
         display: none;
      }
   }
}